@charset "utf-8";


/* 背景色を強制白にする。そのほかの背景色指定は開発用*/
*{
background-color: #ffffff !important;
}

html{
text-align: center;/* 基本的に、表示物はセンタリングする*/
background-color: #99cc00;
}

body{
width: 100vw;/* 基本的に横幅いっぱいに表示する*/
margin: 0;

padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 20px;

box-sizing: border-box;
background-color: #99ff00;
}

#All{
width: 100%;
text-align: center;
}

#WidthLimit{
max-width: 1200px; /* 際限なく大きくならないようにする*/
margin: 0px auto; /* ブロックのセンタリング方法*/
background-color: #ffffff;
}

/* スクリーンの横幅によってフォントサイズを分岐*/
@media screen and (max-width:1200px) {
	#All{
	font-size: 1.5vw;
	}
	#AppTitle{
	font-size: 1.833vw;
	}
}
@media screen and (min-width:1200px) {
	#All{
	font-size: 18px;
	}
	#AppTitle{
	font-size: 22px;
	}
}

#Top{
}

	#TopImage{
	width: 100%;
	height: auto;
	}


#Center{
background-color: #99ddcc;
}
	#AppInfo{
	width: 80%;
	background-color: #cc3333;
	margin: 0px auto;
	padding-top: 3%;
	padding-bottom: 1%;
	}
		#AppIcon{
		width: 13.2%;
		padding-top: 13.2%;
		margin-bottom: 0.8%;
		background-image: url("../img/appicon.png");
		background-size: cover;
		display: inline-block;
		vertical-align:  middle;
		}
		#ReleaseInfo{
		display: inline-block;
		text-align: left;
		background-color: #cc3366;
		vertical-align:  top;
		vertical-align:  middle;
		color: #777777;
		}
			#AppTitle{
			color: #555555;
			}

		#ButtonList{
		width: 18%;
		margin-left: 4%;
		display: inline-block;
		vertical-align:  middle;
		}

			.ButtonLink{	
			width:100%;
			padding-top: 30%;
			margin: 4% 0%;
			background-repeat:no-repeat;
			background-size:100% 100%;
			display:block;
			}


			#ButonGooglePlay{		
			background-image:url("../img/google-play-badge.png");
			}

			#ButtonAppStore{		
			background-image:url("../img/app-store-badge.png");
			}
			
		#ButtonList2{
		width: 19%;
		margin-left: 4%;
		display: inline-block;
		vertical-align:  middle;
		}

			#ButtonTrialVersion{
			width: 100%;
			padding-top: 60%;
			background-image:url("../img/trial.png");
			background-repeat:no-repeat;
			background-size:100% 100%;
			display:block;
			}
			
	#Movie{
	position: relative;
	margin: 0px auto;
	padding: 0px;
	width: 90%;
	padding-top: 50.625%;
	}
		#Youtube{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	#AppScreenShotList{
	background-color: #cc3399;
	box-sizing: border-box;
	padding-top: 1%;
	}
		.AppScreenShot{
		margin: 0px 0px;
		padding: 0px;
		width: 19%;
		padding-top: 35.83%;
		display: inline-block;
		background-size: cover;
		}
		#AppScreenShot1{
		background-image: url("../img/screenshot/1.png");
		}
		#AppScreenShot2{
		background-image: url("../img/screenshot/2.png");
		}
		#AppScreenShot3{
		background-image: url("../img/screenshot/3.png");
		}
		#AppScreenShot4{
		background-image: url("../img/screenshot/5.png");
		}
		#AppScreenShot5{
		background-image: url("../img/screenshot/4.png");
		}

#Footer{
background-color: #ffcc00;
}
	#Contact{
	padding-top: 1.2%;
	color: #555555;
	}

	#Image{
	width: 20%;
	margin: 0px auto;
	padding-bottom: 5%;
	background-image: url("../img/image.png");
	background-size: contain;
	background-repeat: no-repeat;
	}

	#Copyright{
	color: #777777;
	}


