
@charset "utf-8";

html {
	text-align: center;
	/*background-color: #99cc00;*/
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;

	box-sizing: border-box;
	/*background-color: #33ffbb;*/
	overflow: hidden;

}

#All {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

#Bg {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background-image: url("trialbg.png");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

#Logo {
	position: absolute;
	left: 22%;
	top: 25%;

	width: 13%;
	height: 13%;

	background-image: url("logo.png");
	background-size: cover;
	background-repeat: no-repeat;

	display:block;
}

#GameFrame {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	border-style: solid;
	border-color:#000000;
	border-radius:0px;
	border-width:0px;

	background-color:#000000;
}

#Game {
	width: 100%;
	height: 100%;
}



#Progress {
	position: absolute;
	left: 50%;
	top: 60%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	height: 1%;
	width: 35%;
}

#Empty{
	position:absolute;

	background-image: url('progressEmpty.Light.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;

	width: 100%; 
	height: 100%; 
	display: block;
}

#Full{
	position:absolute;

	background-image: url('progressFull.Light.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left;

	width: 0%; 
	height: 100%; 
	display: block;
}




